[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/aws-lambda-cpp-runtime"]
	path = submodules/aws-lambda-cpp-runtime
	url = https://github.com/awslabs/aws-lambda-cpp-runtime.git
[submodule "submodules/aws-sdk-cpp"]
	path = submodules/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
